*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 70px;

    font-family: 'Nunito';
    grid-template-areas: 
        'cabecalho'
        'conteudo'
        'rodape';
}

.bg-certo{
    background: rgb(20, 134, 35);
}

.bg-errado{
    background: rgb(177, 28, 28);
}

.selected{
  background-color: #2d404e;
  pointer-events: none;
}

.clicavel{
    cursor: pointer;
    background-color: #2d404e;
}